@font-face {
    font-family: 'norse-bold';
    src: url('../assets/fonts/Norse-Bold.otf') format('opentype');
}   


:root {
    --mosswood-green: #596D48;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

fieldset {
    border: none;
    padding: 0;
    box-shadow: 0 4px 0 0 #50507518;
    margin-bottom: 2rem;
    background-color: #ffffff;
}

label {
    display: inline-block;
    width: 35%;
    font-size: 0.7rem;
    color: #575E69;
    font-weight: 700;
    letter-spacing: 0.05rem;
}

fieldset input {
    display: block;
    border-radius: 3px;
    border: 1px solid #E5E7EB;
    height: 1.5rem;
    width: 200px;
    margin-top: 0.2rem;
    margin-bottom: 1.5rem;
}

.graphics-section {
    background-image: url("../assets/images/background-image.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    position: relative;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    background-color: #f8fafb;
}

.form-section-text {
    font-weight: 700;
    font-size: 1.4rem;
    width: 55ch;
}

.login-text {
    font-size: 0.875rem;
}

.form-section-text, label, fieldset + div {
    padding-left: 3rem;
}

.form-section-text, label, .login-text {
    font-family: sans-serif;
}

button[type="submit"] {
    background-color: var(--mosswood-green);
    color: #ffffff;
    font-weight: 700;
    font-size: 0.9rem;
    width: 180px;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
}

.login-text > a {
    text-decoration: none;
    color: var(--mosswood-green);
    font-weight: 700;
}

input:focus {
    border: 1px solid #2A27CC;
    outline: none;
    box-shadow: 1.5px 1.5px 0 0 #4F4F7469;
}

input:invalid{
    border: 1px solid #B91C1C;
}

.logo-text {
    width: 100%;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 25%;
    display: flex;
    justify-content: center;
}

.logo-text > p {
    align-self: center;
    font-family: norse-bold;
    color: #ffffff;
    font-size: 7rem;
}

.left-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    text-align: center;
}

.left-footer > a {
    color: inherit;
}