* {
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

label {
    display: inline-block;
    width: 40%;
    font-size: 0.7rem;
}

fieldset input {
    display: block;
    border-radius: 3px;
    border: 1px solid #E5E7EB;
    height: 1.5rem;
    width: 200px;
    margin-bottom: 1.5rem;
}

.graphics-section {
    background-image: url("../assets/images/background-image.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
}

.form-section {
    width: 65%;
}