:root {
    --mosswood-green: #596D48;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

fieldset {
    border: none;
    padding: 0;
    box-shadow: 0 4px 0 0 #50507518;
    margin-bottom: 2rem
}

label {
    display: inline-block;
    width: 35%;
    font-size: 0.7rem;
}

fieldset input {
    display: block;
    border-radius: 3px;
    border: 1px solid #E5E7EB;
    height: 1.5rem;
    width: 200px;
    margin-bottom: 1.5rem;
}

.graphics-section {
    background-image: url("../assets/images/background-image.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}

.form-section-text {
    font-weight: 700;
    font-size: 1.4rem;
    width: 55ch;
}

.login-text {
    font-size: 0.875rem;
}

.form-section-text, label, fieldset + div {
    padding-left: 3rem;
}

.form-section-text, label, .login-text {
    font-family: sans-serif;
}

button[type="submit"] {
    background-color: var(--mosswood-green);
    color: #ffffff;
    font-weight: 700;
    font-size: 0.9rem;
    width: 180px;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
}

input:focus {
    border: 1px solid #2A27CC;
    outline: none;
    box-shadow: 1.5px 1.5px 0 0 #4F4F7469;
}